:root {
  --gray-50: rgb(249 250 251);
  --gray-100: rgb(243 244 246);
  --gray-200: rgb(229 231 235);
  --gray-300: rgb(209 213 219);
  --gray-400: rgb(156 163 175);
  --gray-500: rgb(107 114 128);
  --gray-600: rgb(75 85 99);
  --gray-700: rgb(55 65 81);
  --gray-800: rgb(31 41 55);
  --gray-900: rgb(17 24 39);
  --gray-950: rgb(3 7 18);

  --white: white;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: var(--gray-950);
  color: var(--white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ToDoList.jsx */
.todo-main {
  max-width: 500px;
  margin-inline: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 8px;
}

h2 {
  text-align: center;
  padding: 20px;
}

/* ToDo.jsx */
.todo-body {
  width: 100%;
  margin-top: 8px;
  padding: 8px;
  background-color: var(--gray-900);
  border-radius: 12px;
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  width: 12px;
  aspect-ratio: 1;
  margin: 12px;
  accent-color: var(--gray-400);
  transform: scale(1.5);
}

.todo-text {
  padding-inline: 8px;
  flex-grow: 1;
}

.line-through {
  text-decoration: line-through;
}

.delete-svg {
  width: 20px;
  cursor: pointer;
  margin: 8px;
}

.loading-svg {
  width: 20px;
  margin: 8px;
  animation: spin 1s infinite linear;
}

/* AddToDo.jsx */
.add-todo-main {
  text-align: end;
}

.add-todo-main button {
  outline: none;
  border: none;
  background-color: var(--gray-600);
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
}

.add-todo-main button.add {
  margin-right: 4px;
}

.add-todo-main button:hover {
  background-color: var(--gray-700);
}

.add-todo-main input[type="text"] {
  outline: none;
  width: 100%;
  border: 1px solid var(--gray-700);
  background-color: var(--gray-800);
  color: white;
  padding: 8px;
  border-radius: 8px;
  margin: 10px 0 5px 0;
  font-size: 16px;
}

.button-loading-svg {
  width: 15px;
  animation: spin 1s infinite linear;
  margin-right: 5px;
}
